.bloc-tabs {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}

.tabs {
    padding: 0px 10px;
    text-align: center;
    outline: none;
    font-weight: 100;
    font-size: medium;
}


button {
    border: none; 
}

.active-tabs  {
    background: white;
    border-bottom: 1px solid transparent;
    color: orangered;
    width: 300px;
  }
  
