#main-wrapper {
  border: 1px solid #e0e0e0;
}

/* .container {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 4px;
}


.bloc-tabs {
    display: flex;
    flex-direction: row;
}

.tabs {
    padding: 0px 10px;
    text-align: center;
    outline: none;
    width: 300px;
    font-weight: 800;
    font-size: medium;
    background-color: white;
  }



.content {
    background: white;
    padding: 20px;
    display: none;
  }

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
  color: orangered;

}

 */
